extends layout

block content
  h1= title
  h4 Welcome to #{title}
  p This is the about page
  a(href='/') Go to home page
  h4 hello #{players}
  ul
    each player in players
        li= player.name + " - Number: " + player.number 
    else
        li There are no values
