doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico')
    title= title

    // Global css
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css') 
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')

    // Global js
    script(src='/jquery/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js')
  
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#')
        img.d-inline-block.align-top(src='/images/fbdb.jpg' width='30' height='30')
        |  Football DB
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/')
              | Home
          li.nav-item
            a.nav-link(href='/') Top Players
          li.nav-item
            a.nav-link(href='/') Top Teams
            li.nav-item
            a.nav-link(href='/leagues') Top Leagues
          li.nav-item.dropdown
            a#countriesDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Browse by Countries
            .dropdown-menu(aria-labelledby='countriesDropdown')
              a.dropdown-item(href='#') England
              a.dropdown-item(href='#') Turkey
          if req.user && req.user.role == 1
            li.nav-item.dropdown
              a#adminDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Admin Pages
              .dropdown-menu(aria-labelledby='adminDropdown')
                a.nav-link(href='/admin/country') Country
                a.nav-link(href='/admin/league') League
                a.nav-link(href='/admin/team') Team
                a.nav-link(href='/admin/trophy') Trophy
                a.nav-link(href='/admin/match') Match
      .my-2.my-lg-0
        ul.navbar-nav
          if req.user
            li.nav-item.disabled
              a.nav-link.disabled() Welcome #{req.user.name}!
            li.nav-item
              a.btn.btn-sm.btn-outline-danger.nav-link(href='/logout') Logout
          else
           li.nav-item
            a.mr-2.btn.btn-sm.btn-outline-warning.nav-link(href='/register') Register
           li.nav-item
            a.btn.btn-sm.btn-outline-success.nav-link(href='/login') Login

          
    block content
