extends layout

block content
    .container
        h1#leagueName(align='center')

    .container
        h2 Standings
        table#teamTable.table.table-hover
            thead.thead-dark
                tr
                    th Team
                    th Played
                    th Won
                    th Drawn
                    th Lost
                    th For
                    th Against
                    th GD
                    th Points
            tbody#teamTableBody

    .container
        h2 Match History
        table#matchHistory.table.table-hover
            thead.thead-dark
                tr
                    th Week
                    th Home Team
                    th Home Score
                    th Away Score
                    th Away Team
            tbody#historyTableBody

    script(type='text/javascript').
        $(document).ready(function(){
            populateTable(); // initial fetch and sorting table 
            populateHistoryTable();
            fillLeagueName();      
        });

        function populateTable(){
            $.ajax({
                type: 'GET',
                url: window.location.pathname + '/list',
                dataType: 'json',
                success: function(data){
                    for(var i in data){     
                        var row = "<tr data-href='/teams/" + data[i].s_tid + "' class='rowTeam' id='" + data[i].s_tid + "'><td>" + data[i].s_tname + "</td><td>" + data[i].s_played + "</td><td>" + data[i].s_won + "</td>" +
                                "<td>" + data[i].s_drawn + "</td><td>" + data[i].s_lost + "</td><td>" + data[i].s_for + "</td>" +
                                "<td>" + data[i].s_against + "</td><td>" + data[i].s_gd + "</td><td>" + data[i].s_points + "</td></tr>";
                        $("#teamTableBody").append(row);
                        $('tr[data-href]').on("click", function() {
                            document.location = $(this).data('href');
                        });
                    }
                },
                error: function(data){
                    toastr.error('Error while fetching standings...');
                }
            });
        }; 

        function populateHistoryTable(){
            $.ajax({
                type: 'GET',
                url: window.location.pathname + '/match_history',
                dataType: 'json',
                success: function(data){
                    for(var i=0; i<data.length; i++){
                        var row = "<tr><td>" + data[i].m_round + "</td><td><a href='/teams/" + data[i].m_homeid + "'>" + data[i].m_htname + "</a></td><td>" + data[i].m_hscore + "</td>" +
                                "<td>" + data[i].m_ascore + "</td><td><a href='/teams/" + data[i].m_awayid + "'>" + data[i].m_atname + "</a></td></tr>";
                        $("#historyTableBody").append(row);
                    }
                },
                error: function(data){
                    toastr.error('Error while fetching match histoey of the league...');
                }
            });
        };
  
        function fillLeagueName(){
            $.ajax({
                type: 'GET',
                url: window.location.pathname + '/league_name',
                dataType: 'json',
                success: function(data){
                    $("#leagueName").append(data.l_name);
                },
                error: function(data){
                    toastr.error('Error while fetching league name...');
                }
            });
        };
         
                            
