extends layout

block content
    .container
        h2 Standings
        table#teamTable.table.table-hover
            thead.thead-dark
                tr
                    th Team
                    th Played
                    th Won
                    th Drawn
                    th Lost
                    th For
                    th Against
                    th GD
                    th Points
            tbody#teamTableBody

    .container
        h2 Match History
        table#matchHistory.table.table-hover
            thead.thead-dark
                tr
                    th Week
                    th Home Team
                    th Home Score
                    th Away Score
                    th Away Team
            tbody#historyTableBody

    script(type='text/javascript').
        $(document).ready(function(){
           populateTable(); // initial fetch and sorting table 
           populateHistoryTable();       
        });

        // Get all records
        function populateTable(){
            $.ajax({
                type: 'GET',
                url: window.location.pathname + '/list',
                dataType: 'json',
                success: function(data){
                    for(var i in data){     
                        var row = "<tr data-href='/teams/" + data[i][9] + "' class='rowTeam' id='" + data[i][9] + "'><td>" + data[i][0] + "</td><td>" + data[i][1] + "</td><td>" + data[i][2] + "</td>" +
                                "<td>" + data[i][3] + "</td><td>" + data[i][4] + "</td><td>" + data[i][5] + "</td>" +
                                "<td>" + data[i][6] + "</td><td>" + data[i][7] + "</td><td>" + data[i][8] + "</td></tr>";
                        $("#teamTableBody").append(row);
                        $('tr[data-href]').on("click", function() {
                            document.location = $(this).data('href');
                        });
                    }
                    sortTable();
                },
                error: function(data){
                    toastr.error('Error while fetching leagues...');
                }
            });
        }; 

        function sortTable(){
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("teamTable");
            switching = true;

            while (switching) {

                switching = false;
                rows = table.rows;
                console.log(rows);
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("TD")[8];
                    y = rows[i + 1].getElementsByTagName("TD")[8];

                    if (Number(x.innerHTML) < Number(y.innerHTML)) {

                        shouldSwitch = true;
                        break;
                    }
                }

                if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                }
            }
        } 

        function populateHistoryTable(){
            $.ajax({
                type: 'GET',
                url: window.location.pathname + '/match_history',
                dataType: 'json',
                success: function(data){
                    for(var i=0; i<data.length; i++){
                        var row = "<tr><td>" + data[i].m_round + "</td><td>" + data[i].m_htname + "</td><td>" + data[i].m_hscore + "</td>" +
                                "<td>" + data[i].m_ascore + "</td><td>" + data[i].m_atname + "</td></tr>";
                        $("#historyTableBody").append(row);
                    }
                },
                error: function(data){
                    toastr.error('Error while fetching match histoey of the league...');
                }
            });
        };                                     
