extends layout

block content
    .container
        .row
            .col-lg-6.offset-lg-3
                form.mt-5(action='/login' method='POST')
                    h2 FBDB Login
                    if message
                        p #{message}
                    .form-group
                        label(for='email') Email address
                        input#email.form-control(type='email' name='email' placeholder='Enter email' required)    
                    .form-group
                        label(for='password') Password
                        input#password.form-control(type='password' name='password' placeholder='Enter password' required)
                    .text-center
                        button.btn.btn-primary(type='submit') Login
