extends layout

block content
    .container
        .card
            .card-header#cardHeader
            .row
                .col-md-4
                    img.w-100#playerImage(src='' width='auto' height='250')
                .col-md-8.px-3
                    .card-block.px-3#cardArea

    .container  
        .mb-5.mt-5
        h2 Statistics

    .container
        .mb-5.mt-5
            table#statistics.table.table-hover
                thead
                    tr
                        th Season
                        th Team
                        th 
                            img#trophiesImage(src='/images/goalicon.png' width='40' height='40' data-toggle='tooltip' title='Goals')
                        th
                            img#trophiesImage(src='/images/assisticon.png' width='40' height='40' data-toggle='tooltip' title='Assists')
                tbody#statisticsBody
    
    .container
        .mb-5.mt-5
        h2 Contracts

    .container
        .mb-5.mt-5
            table#contracts.table.table-hover
                thead
                    tr
                        th Team
                        th Start Date
                        th End Date
                        th Value
                tbody#contractsBody

    script(type='text/javascript').
            $(document).ready(function(){
                fillPlayerProfileCard();   
                populateStatiticsTable();  
                populateContractsTable();
                getPlayerLikes();
            });

                // Get profile
            function fillPlayerProfileCard(){
                $.ajax({
                    type: 'GET',
                    url: window.location.pathname + '/profile',
                    dataType: 'json',
                    success: function(data){

                        var date = new Date(data.p_bt).toDateString();

                        var playerName = document.createElement('h2');
                        var header = document.createTextNode(data.p_fname + " " + data.p_lname);
                        playerName.align = "center";
                        playerName.appendChild(header);
                        var blank = document.createElement('br');
                        var blank2 = document.createElement('br');
                        
                        var posHd = document.createElement('h4');
                        var pos = document.createTextNode( "Position: " + data.p_position);
                        posHd.align = "center";
                        posHd.appendChild(pos);

                        var btHd = document.createElement('h4');
                        var bt = document.createTextNode( "Birthdate: " + date);
                        btHd.align = "center";
                        btHd.appendChild(bt);

                        var numHd = document.createElement('h4');
                        var num = document.createTextNode( "Jersey Number: " + data.p_number);
                        numHd.align = "center";
                        numHd.appendChild(num);

                        var temp_link = document.createElement("a");
                        temp_link.href = '/teams/' + data.p_teamid;
                        temp_link.target = '';
                        temp_link.innerHTML = data.p_teamname;

                        var team = document.createElement("h2");
                        team.align = "center";
                        team.innerHTML = "Current Team: ";
                        team.appendChild(temp_link);
                        
                        document.getElementById('playerImage').src= data.p_image;
                        document.getElementById('cardHeader').appendChild(playerName);
                        document.getElementById('cardArea').appendChild(blank2);
                        document.getElementById('cardArea').appendChild(team);                 
                        document.getElementById('cardArea').appendChild(blank);
                        document.getElementById('cardArea').appendChild(posHd);
                        document.getElementById('cardArea').appendChild(numHd);
                        document.getElementById('cardArea').appendChild(btHd);
                        $('#cardArea').append(`
                            <div id="likeButtonDiv" class="text-center">
                                <button id="likeButton" type="button" class="btn btn-primary" onclick="likePlayer()">
                                    <span id="likeMessage">Like </span>
                                    <span id="likeCount" class="badge badge-light"></span>
                                    <span class="sr-only">unread messages</span>
                                </button>
                            </div>
                        `);

                        if (#{isLiked}) {
                            console.log("hey");
                            updateButton(true);
                        }

                    },
                    error: function(data){
                        toastr.error('Error while fetching leagues...');
                    }
                });
            };

            function populateStatiticsTable(){
                $.ajax({
                    type: 'GET',
                    url: window.location.pathname + '/statistics',
                    dataType: 'json',
                    success: function(data){
                        for(var i=0; i<data.length; i++){
                            var season = parseInt(data[i].s_season);
                            season += 1;
                            var row = "<tr><td>" + data[i].s_season + "-" + season + "</td><td><a href='/teams/" + data[i].s_teamid + "'>" + data[i].s_team + "</a></td>" +
                            "<td>" + data[i].s_goal + "</td><td>" + data[i].s_assist + "</td></tr>";
                            $("#statisticsBody").append(row);
                        }
                    },
                    error: function(data){
                        toastr.error('Error while fetching statistics...');
                    }
                });
            }; 

            function populateContractsTable(){
                $.ajax({
                    type: 'GET',
                    url: window.location.pathname + '/contracts',
                    dataType: 'json',
                    success: function(data){
                        for(var i=0; i<data.length; i++){
                            var value = parseInt(data[i].c_value);
                            var formattedValue = value.toLocaleString()
                            var row = "<tr><td><a href='/teams/" + data[i].c_teamid + "'>" + data[i].c_teamname + "</a></td><td>" + new Date(data[i].c_start).toDateString() + "</td>" +
                            "<td>" + new Date(data[i].c_end).toDateString() + "</td><td>$" + formattedValue + "</td></tr>";
                            $("#contractsBody").append(row);
                        }
                    },
                    error: function(data){
                        toastr.error('Error while fetching contracts...');
                    }
                });
            }; 

            function getPlayerLikes(){
                $.ajax({
                    type: 'GET',
                    url: window.location.pathname + '/likes',
                    dataType: 'json',
                    success: function(data){
                        $("#likeCount").empty();
                        $("#likeCount").append(data.likes);       
                    },
                    error: function(data){
                        toastr.error('Error while fetching likes...');
                    }
                });
            }
            
            function isLoggedIn() {
                if ("#{req.user}") return true;
                else return false;   
            }

            function likePlayer() {
                if(!isLoggedIn()) {
                    toastr.warning('You need to be logged in for this action.');
                } else {
                    $.ajax({
                        type: 'POST',
                        url: window.location.pathname + '/likes/',
                        success: function(data){
                            getPlayerLikes();
                            if (data.like) {
                                updateButton(true);
                            } else {
                                updateButton(false);
                            }
                        },
                        error: function(data){
                            toastr.error('Error while submitting likes...');
                        }
                    });
                }
            }

            function updateButton(isLiked) {
                if(isLiked) {
                    $("#likeButton").removeClass();
                    $("#likeButton").addClass('btn');
                    $("#likeButton").addClass('btn-success');
                    $("#likeMessage").text("Unlike");
                } else {
                    $("#likeButton").removeClass();
                    $("#likeButton").addClass('btn');
                    $("#likeButton").addClass('btn-primary');
                    $("#likeMessage").text("Like");
                }
            }