extends layout

block content
    .container.py-3
        .card
            .row
                .col-md-4
                    img.w-100#clubImage(src='' width='auto' height='250')
                .col-md-8.px-3
                    .card-block.px-3#cardArea
                        br
                        p(align='center')
                            img#trophiesImage(src='/images/trophiesicon.ico' width='40' height='40' data-toggle='tooltip' title='Click to see Trophies.')
        
        // Modal - Trophies
        #trophiesModal.modal.fade(tabIndex='-1' role='dialog' aria-labelledby='trophiesModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5.modal-title#trophiesModalLabel Trophies
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        .mb-5.mt-5
                            table#trophiesHistory.table.table-striped
                                thead
                                    tr
                                        th Season
                                        th League/Tournament
                                tbody#trophiesHistoryBody
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close

    .container
        .mb-5.mt-5
        h2 Match History

    .container
        .mb-5.mt-5
            table#matchHistory.table.table-hover
                thead.thead-dark
                    tr
                        th Week
                        th Home Team
                        th Home Score
                        th Away Score
                        th Away Team
                tbody#historyTableBody

    .container
        .mb-5.mt-5
        h2 Squad

    .container
        .mb-5.mt-5
        #area.card-columns
            

            
    script(type='text/javascript').
            $(document).ready(function(){
            fillTeamProfileCard(); // initial fetch and sorting table   
            fillPlayerCards();
            populateHistoryTable(); 
            populateTrophiesTable();   

            $(document).ready(function () {
                $("#trophiesImage").click(function () {
                $('#trophiesModal').modal('show'); 
                });
            });
        });

            // Get profile
            function fillTeamProfileCard(){
                $.ajax({
                    type: 'GET',
                    url: window.location.pathname + '/profile',
                    dataType: 'json',
                    success: function(data){

                        var teamName = document.createElement('h2');
                        var header = document.createTextNode(data.t_name);
                        teamName.align = "center";
                        teamName.appendChild(header);
                        
                        var fy = document.createElement('h4');
                        var year = document.createTextNode( "Foundation Year: " + data.t_fy);
                        fy.align = "center";
                        fy.appendChild(year);

                        var stadium = document.createElement('h4');
                        var stadiumName = document.createTextNode( "Stadium: " + data.t_stadium);
                        stadium.align = "center";
                        stadium.appendChild(stadiumName);
                        var br = document.createElement('br');
                        
                        document.getElementById('clubImage').src= data.t_logo;
                        document.getElementById('cardArea').prepend(br);
                        document.getElementById('cardArea').prepend(fy);
                        document.getElementById('cardArea').prepend(stadium);
                        document.getElementById('cardArea').prepend(teamName);

                    },
                    error: function(data){
                        toastr.error('Error while fetching league...');
                    }
                });
            };

            // Get profile
            function fillPlayerCards(){
                $.ajax({
                    type: 'GET',
                    url: window.location.pathname + '/players',
                    dataType: 'json',
                    success: function(data){
                        
                        for(var i=0; i<data.length; i++){ // fill the cards and append
                            var card = 
                            "<div style='height:550px;' class='card'> <img  width='auto' height='300px' class='card-img-top' src='" + data[i].p_image + "' alt='Card image cap'> <div class='card-body'>" +
                            "<h5 class='card-title'>" + data[i].p_fname + " " + data[i].p_lname + "</h5> <p>Position: " + data[i].p_pos + " </p> <p>Jersey Number: " + data[i].p_number + " </p> </p> <p>Birthdate: " + new Date(data[i].p_birthdate).toDateString() + " </p> <a href='/players/" + data[i].p_id + "' class='btn btn-primary'> Statistics and Contrats </a> </div> </div>";
                            d = document.createElement('div');
                            d.id = data[i].p_id;
                            
                            document.getElementById('area').appendChild(d);
                            document.getElementById(d.id).innerHTML = card; 
                        
                        }
                    },
                    error: function(data){
                        toastr.error('Error while fetching players...');
                    }
                });
            };

            function populateHistoryTable(){
                $.ajax({
                    type: 'GET',
                    url: window.location.pathname + '/match_history',
                    dataType: 'json',
                    success: function(data){
                        for(var i=0; i<data.length; i++){
                            var row = "<tr><td>" + data[i].m_round + "</td><td><a href='/teams/" + data[i].m_homeid + "'>" + data[i].m_htname + "</a></td><td>" + data[i].m_hscore + "</td>" +
                                    "<td>" + data[i].m_ascore + "</td><td><a href='/teams/" + data[i].m_awayid + "'>" + data[i].m_atname + "</td></tr>";
                            $("#historyTableBody").append(row);
                        }
                    },
                    error: function(data){
                        toastr.error('Error while fetching match history of the league...');
                    }
                });
            }; 

            function populateTrophiesTable(){
                $.ajax({
                    type: 'GET',
                    url: window.location.pathname + '/trophies',
                    dataType: 'json',
                    success: function(data){
                        for(var i=0; i<data.length; i++){
                            var season = parseInt(data[i].tr_season);
                            season += 1;
                            var row = "<tr><td>" + data[i].tr_season + "-" + season + "</td><td><a href='/leagues/" + data[i].tr_leagueid + "/teams'>" + data[i].tr_league + "</a></td></tr>";
                            $("#trophiesHistoryBody").append(row);
                        }
                    },
                    error: function(data){
                        toastr.error('Error while fetching trophies...');
                    }
                });
            }; 



