extends ../layout

block content
    .container
        h3 Last 100 Logs
        table.table.table-hover
            thead.thead-dark
                tr
                    th Operation
                    th Table
                    th Date
                    th User
            tbody
            each log, index in logs
                tr
                    - var date = log.date.toDateString() + " - " + ("0"+log.date.getHours()).slice(-2) + ":" + ("0"+log.date.getMinutes()).slice(-2) + ":" + ("0"+log.date.getSeconds()).slice(-2);
                    td #{log.operation}
                    td #{log.related_table}
                    td #{date}
                    td #{log.user}