extends ../layout

block content
    .container
        // Add country form
        .mb-5.mt-5
            h4 Add a new country
            form.form-inline
                .form-group.mr-sm-2
                    input#countryName.form-control(type='text' name='countryName' placeholder='Country name')
                .form-group.mr-sm-2
                    .custom-file
                        input#countryFlag.custom-file-input(type='file' name='countryFlag' accept='image/*')
                        label.custom-file-label(for='countryFlag') Choose flag
                .form-group.mr-sm-2     
                    button#btnAdd.btn.btn-success(type='button') Add                      
                        
        
        // Display countries
        h3 Countries
        table#countryTable.table.table-hover
            caption Click on countries to update/delete
            thead.thead-dark
                tr
                    th ID
                    th Name
                    th Flag
            tbody#countryTableBody
    
    // Modal - to delete and update
    #countryModal.modal.fade(tabIndex='-1' role='dialog' aria-labelledby='countryModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title#countryModalLabel Country Update/Delete
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    form
                        .form-group
                            label(for='countryIdModal') Country ID (disabled)
                            input#countryIdModal.form-control(name='countryIdModal' type='text' disabled)
                    form
                        .form-group
                            label(for='countryNameModal') Country name
                            input#countryNameModal.form-control(name='countryNameModal' type='text')
                    form
                        .form-group
                            .custom-file
                                input#countryFlagModal.custom-file-input(type='file' name='countryFlagModal' accept='image/*')
                                label.custom-file-label(for='countryFlagModal') Choose flag
                            img#flagModal(height="32px;")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-danger(type='button' onclick='deleteCountry()') Delete
                    button.btn.btn-success(type='button' onclick='updateCountry()') Update


    script(type='text/javascript').
        $(document).ready(function(){
            populateTable(); // initial fetch

            // row clicked
            $(document).on('click', 'tr', function(){
                openModal($(this)[0].id);
            });

            // Add country
            $("#btnAdd").on('click', function(){
                // If image is empty, return error
                if (!$("#countryFlag")[0].files[0]) {
                    toastr.error('Image can\'t be empty.')
                    return;
                }

                var reader = new FileReader();
                reader.readAsDataURL($("#countryFlag")[0].files[0]);      
                // read is async, so wait til its done
                reader.onload = function (readerEvt) {
                    var binaryString = readerEvt.target.result;
                    var country = {
                        name: $("#countryName").val(),
                        flag: binaryString
                    }

                    // Check country name is valid
                    if (country.name.length < 1){
                        toastr.error('Country name can\'t be empty.')
                        return;
                    }

                    // Check image is valid
                    if (!binaryString) {
                        toastr.error('Image can\'t be empty.')
                        return;
                    }

                    // POST API request
                    $.ajax({
                        type: 'POST',
                        url: '/api/countries',
                        data: country,
                        dataType: 'json',
                        success: function(data){
                            toastr.success('Country added successfully!');
                            populateTable(); //refresh
                            $("#countryName").val("");
                        },
                        error: function(data){
                            toastr.error('Error while adding country...');
                            console.log(data);
                        }
                    });  
                };
            });
        });

        // Get countries from API
        function populateTable(){
            // GET API request
            $.ajax({
                type: 'GET',
                url: '/api/countries',
                dataType: 'json',
                success: function(data){
                    $("#countryTableBody").empty(); // clear table
                    for(var i=0; i<data.length; i++){
                        var row = "<tr class='rowCountry' id='"+ data[i].c_id +"'><td>"+ data[i].c_id + "</td><td>" + data[i].c_name + "</td><td><img height='48px;' src='" + data[i].c_flag + "' alt='flag'/></td></tr>";
                        $("#countryTableBody").append(row);
                    }
                },
                error: function(data){
                    toastr.error('Error while fetching countries...')
                }
            });
        }

        // Open modal if clicked on a row
        function openModal(countryId){
            $("#countryFlagModal").val(''); // clear file input
            var url = '/api/countries/' + countryId;

            // GET API request
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                success: function(data){
                    $("#countryModal").modal('show');
                    $("#countryIdModal").val(data.c_id);
                    $("#countryNameModal").val(data.c_name);
                    $("#flagModal").attr('src', data.c_flag);
                },
                error: function(data){
                    toastr.error('Error while fetching country...');
                }
            });
        }

        // Delete country 
        function deleteCountry(){
            var countryId = $("#countryIdModal").val();
            var url = '/api/countries/' + countryId;

            // DELETE API request
            $.ajax({
                type: 'DELETE',
                url: url,
                success: function(data){
                    toastr.success('Country deleted successfully!');
                    populateTable();
                    $("#countryModal").modal('hide');
                },
                error: function(data){
                    toastr.error('Error while deleting country!');
                }
            });
        }

        // Update country
        function updateCountry(){
            // If added new image
            if($("#countryFlagModal")[0].files[0]){
                var reader = new FileReader();
                reader.readAsDataURL($("#countryFlagModal")[0].files[0]);
                // read is async, so wait til its done
                reader.onload = function (readerEvt) {
                    console.log("hey");
                    var binaryString = readerEvt.target.result;
                    var country = {
                        idCountry: $("#countryIdModal").val(),
                        name: $("#countryNameModal").val(),
                        flag: binaryString
                    }

                    if (country.name == "" || country.idCountry == null){
                        toastr.error('All fields must be filled!');
                        return;
                    }

                    var url = '/api/countries/' + country.idCountry;
                    $.ajax({
                        type: 'PUT',
                        dataType: 'json',
                        data: country,
                        url: url,
                        success: function(data){
                            toastr.success('Country updated successfully!');
                            populateTable();
                            $("#countryModal").modal('hide');
                        },
                        error: function(data){
                            toastr.error('Error while updating country!');
                        }
                    });
                };
            } else {
                var country = {
                    idCountry: $("#countryIdModal").val(),
                    name: $("#countryNameModal").val(),
                    flag: $("#flagModal").attr("src")
                }
                if (country.name == "" || country.idCountry == null){
                    toastr.error('All fields must be filled!');
                    return;
                }

                var url = '/api/countries/' + country.idCountry;
                $.ajax({
                    type: 'PUT',
                    dataType: 'json',
                    data: country,
                    url: url,
                    success: function(data){
                        toastr.success('Country updated successfully!');
                        populateTable();
                        $("#countryModal").modal('hide');
                    },
                    error: function(data){
                        toastr.error('Error while updating country!');
                    }
                });
            }      
        }        
